# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyCj7vAwDZKkqlf1e9kLko4ztol6ofxvW0c
VITE_FIREBASE_AUTH_DOMAIN=faith-social-ef895.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=faith-social-ef895
VITE_FIREBASE_DATABASE_URL=https://faith-social-ef895-default-rtdb.firebaseio.com
VITE_FIREBASE_STORAGE_BUCKET=faith-social-ef895.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=485831767405
VITE_FIREBASE_APP_ID=1:485831767405:web:9fa4e7ad111cde6951d664
VITE_FIREBASE_MEASUREMENT_ID=G-C5M1353WGT

# Backend API URL
VITE_API_URL=http://localhost:5000